.search-list
  position absolute
  background #ffffff
  z-index 1
  border-bottom: 2px solid #01d277;

.search-film-link
  text-decoration none
  color #081c24
  &:hover
    color #01d277

.search-film
  margin 10px

.search-film-year
  font-size 14px
  color #888888