<header class="header">

  <a [routerLink]="['/']"><img class="home-img" src="/assets/img/logo.png" alt="Logo"></a>

  <nav class="header-block-link">
    <ul class="header-block-link__ul">
      <li class="header-block-link__li"><a class="header-block-link__a" 
        routerLinkActive="header-block-link__a_active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']">На главную</a></li>
      <li class="header-block-link__li"><a class="header-block-link__a" 
        routerLinkActive="header-block-link__a_active" [routerLink]="['/favorites']">В избранное</a></li>
    </ul>
  </nav>

  <div class="search-wrap">
    <input (input)="searchFilter($event)" [(ngModel)]="appSearchService.text" class="search" type="text" name="search" id="search" placeholder="Поиск...">
    <svg class="seacrh-icon" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><path fill-rule="evenodd" d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0 0 13 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 0 0 0-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z"/></svg>
    <div class="search-list" *ngIf="appSearchService.resultsAdd" >
      <a [routerLink]="['/film', film.id]" class="search-film-link" *ngFor="let film of appSearchService.seacrhFilms">
        <p class="search-film">{{film.title}} <span class="search-film-year">({{film.release_date | date:'yyyy'}})</span></p>
      </a>
    </div>
  </div>

</header>