<app-header (onSearch)="search($event)"></app-header>

<div class="film-wrap">
  <section class="film">
    <img class="film__img" src="{{urlImg}}" alt="">
    <div class="film-main">
      <h1 class="film__title">{{film.title}}</h1>
      <p class="film__descr">{{film.overview}}</p>
      <div class="film__info-wrap">
        <div class="rating">
          <p class="raiting-circle">Средняя оценка 
            <span class="raiting-circle__number">{{film.vote_average}}</span>
          </p>
          <p class="ratin__votes"><strong>Количество голосов</strong>: {{film.vote_count}}</p>
        </div>
        <div class="info-wrap-right">
          <div class="genres-and-data">
            <p class="film__duration"><strong>Продолжительность</strong>: {{film.runtime}} мин.</p>
            <p class="date-relise"><strong>Дата выхода</strong>: {{film.release_date | date:'dd.MM.yyyy'}}</p>
          </div>
          <div class="budget-wrap">
            <p class="budget"><strong>Бюджет: </strong>{{film.budget | currency:'USD':'symbol':'1.0-0'}}</p>
            <p class="revenue"><strong>Сборы в мире: </strong>{{film.revenue | currency:'USD':'symbol':'1.0-0'}}</p>
          </div>
          <p class="genres"><strong>Жанр</strong>: {{genre | titlecase}}.</p> 
        </div>
      </div>
      <div class="company-wrap">
        <p class="countries"><strong>Страна: </strong>{{productionCountries}}.</p>
        <p class="companies"><strong>Компания: </strong>{{productionCompanies}}.</p>
      </div>
    </div>
  </section>
  <section class="actors">
    <div class="actor" *ngFor="let actor of actors">
      <img class="actor__img" src="https://image.tmdb.org/t/p/w200{{actor.profile_path}}" alt="">
      <p class="actor-name-wrap">
        <span class="actor__name">{{actor.name}}</span>
        <span class="actor__character">({{actor.character}})</span>
      </p>
    </div>
  </section>
  <section class="film-video" *ngIf="urlVideoSecurity">
    <h2 class="film-video__title">Видео (трейлер)</h2>
    <iframe class="film-video-frame" width="640" height="390" [src]="urlVideoSecurity" allowfullscreen></iframe>
  </section>
  <section class="recommendations">
    <h2 class="recommendations-title">Рекомендованные фильмы</h2>
    <div class="recommendations-film" *ngFor="let film of recommendations">
      <a class="recommendations-link" [routerLink]="['/film', film.id]">
        <img class="recommendations__img" src="https://image.tmdb.org/t/p/w200{{film.backdrop_path}}" alt="">
        <p class="recommendations-title-wrap">
          <span class="recommendations__title">{{film.title}}</span>
          <span class="recommendations__vote_average">{{film.vote_average}}</span>
        </p>
      </a>
    </div>
  </section>
  <section class="similar">
      <h2 class="similar-title">Похожие фильмы</h2>
      <div class="similar-film" *ngFor="let film of similar">
        <a class="similar-link" [routerLink]="['/film', film.id]">
          <img class="similar__img" src="https://image.tmdb.org/t/p/w200{{film.backdrop_path}}" alt="">
          <p class="similar-title-wrap">
            <span class="similar__title">{{film.title}}</span>
            <span class="similar__vote_average">{{film.vote_average}}</span>
          </p>
        </a>
      </div>
    </section>
</div>
